//
   Created by jake on 3/6/15.

each result in object
    a(href="#", onclick="talks.getTalk(" + result.talk.id + ")")
        h1= result.talk.name
    p= result.talk.description
    pre= JSON.stringify(result.talk, null, 2)
    hr